:root {
  /* Colors */
  --color-primary: rgba(45, 184, 132, 1);
  --color-primary-light: rgba(27, 227, 152, 1);

  --color-button-footer: #0f8bff;
  --color-button-secondary: #23c3f3;
  --color-buton-secondary-light: #0098c5;

  --color-hero-text: white;
  --color-text-muted: #969696;

  --color-background: #ffffff;
  --color-background-secondary: #edf2f8;
  --color-background-footer: #0a1429;
  --color-background-hero: #0e1930;
  --color-background-hero-light: #00325f;

  --color-border: #d9d9d9;

  --color-emphasis-text: #fff;

  /* Gradient */
  --primary-gradient: linear-gradient(
    90deg,
    var(--color-primary) 0%,
    var(--color-primary-light) 100%
  );

  --secondary-gradient: linear-gradient(
    90deg,
    var(--color-button-secondary) 0%,
    var(--color-buton-secondary-light) 100%
  );

  /* Typography */
  --font-family-primary: "Rubik", sans-serif;

  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 32px;
  --font-size-2xl: 48px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 48px;
  --spacing-3xl: 64px;

  /* Layout */
  --page-padding: 120px;

  /* Border radius */
  --radius-sm: 8px;
  --radius-md: 11px;
}
